<!--
/* ============================================================================= *
*        ABOVE TALLY DIV AND NAVIGATION                                          *
* ============================================================================= */
-->
<div class="container">
  <div id="mainTopic" class="row">
    <!--//MAIN TOPIC TITLE AND DESCRIPTION//-->
    <div class="col-md-7 topicText">
      <h1> {{hc.mainTopic.list.title}} </h1>
      <p> {{hc.mainTopic.list.description}} </p>
    </div>
    <!--//TOP-SIDE CALL TO ACTION ON MOBILE/SMALL SCREEN//-->
    <div class="mobileCTA visible-xs-block">
      <h2 class="dark"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Share your thoughts </h2>
      <button ng-click="hc.createIdea()" class = "btn-80" type="button" name="button"> START A CONVERSATION! </button>
    </div>
    <!--//TOP-SIDE CALL TO ACTION ON MEDIUM AND LARGE SCREEN//-->
    <div class="visible-md-block visible-lg-block visible-xl-block  col-md-5 callToAction">
      <div class="ctaTitle h-text-center">
        <h2><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Have an idea?</h2>

      </div>
      <div>
        <form class="ctaForm" align="center" action="index.html" method="post">
          <select ng-model="hc.idea.subtopicId">
            <option value="" ng-show="false"> Select: </option>
            <option ng-repeat="subtopic in hc.subTopic.list" value="{{subtopic.id}}"> {{subtopic.title}} </option>
          </select>
          <input ng-model="hc.idea.title" type="text" name="" value="" placeholder="Title">
          <textarea ng-model="hc.idea.description" name="comment" placeholder="Description..."form="usrform"></textarea><br>
          <button ng-click="hc.addNewIdea(hc.idea)" class = "btn-cta" type="button" name="button"> Start a conversation! </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid repsContainer">
  <div class="row">
    <div class="col-md-6">
      <!--
      /* ============================================================================= *
      *                   U.S. Congress                                                *
      * ============================================================================= */
      -->
      <div class="container-fluid repsContainer">
        <div class="row">
          <div class="col-sm-4 h-text-center">
            <h3>U.S. Congress:</h3>
          </div>
          <div class="col-sm-8">
            <div class="container-fluid">
              <div class="row" id="us-congress"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!--
      /* ============================================================================= *
      *                   U.S. Senators                                                *
      * ============================================================================= */
      -->
      <div class="container-fluid repsContainer">
        <div class="row">
          <div class="col-sm-4 h-text-center">
            <h3>U.S. Senators:</h3>
          </div>
          <div class="col-sm-8">
            <div class="container-fluid">
              <div class="row" id="us-senators"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
/* ============================================================================= *
*                   TALLY DIV                                                    *
* ============================================================================= */
-->
<div id="tallyDiv" class="container-fluid">
  <div class="row h-text-center">
    <div class="col-sm-3" style="border-right: 2px solid #57c4ea; border-top: 2px solid #57c4ea; padding-top: 20px; padding-bottom: 20px; background-color: #fff;">
      <p><strong>Users</strong></p>
      <span style="font-size: 24px; color: #57c4ea;"> {{hc.userTally.count.count}} </span>
    </div>
    <div class="col-sm-3" style="border-right: 2px solid #57c4ea;  border-top: 2px solid #57c4ea; padding-top: 20px; padding-bottom: 20px; background-color: #fff;">
      <p><strong>Ideas</strong></p>
      <span style="font-size: 24px; color: #57c4ea;"> {{hc.ideasTally.count.count}} </span>
    </div>
    <div class="col-sm-3" style="border-right: 2px solid #57c4ea; border-top: 2px solid #57c4ea; padding-top: 20px; padding-bottom: 20px; background-color: #fff;">
      <p><strong>Comments</strong></p>
      <span style="font-size: 24px; color: #57c4ea;"> {{hc.commentsTally.count.sumcount}} </span>
    </div>
    <div class="col-sm-3" style="border-top: 2px solid #57c4ea; padding-top: 20px; padding-bottom: 20px; background-color: #fff;">
      <p><strong>Likes</strong></p>
      <span style="font-size: 24px; color: #57c4ea;"> {{hc.likesTally.count.sumcount}} </span>
    </div>
  </div>
</div>

<!--
/* ============================================================================= *
*        SUBTOPIC NAVIGATION                                                    *
* ============================================================================= */
-->
<div ng-include="'/views/templates/subtopicNav.html'"></div>

<!--
/* ============================================================================= *
*        BELOW SUBTOPIC NAVIGATION                                               *
* ============================================================================== */
-->
<div class="cardContainer greyBackground" style="margin:0px;">
  <!--//IDEACARDS SECTION//-->
  <div class="container">
    <div class="row">
      <h4 class="text-center">DISCOVER SOME OF THE HOTTEST IDEAS</h4>

      <div ng-repeat="idea in hc.mostLikedIdea.list" class="col-lg-6 col-md-6">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{idea.title}}</span>
            </md-card-title-text>
            <md-button ng-click="hc.moreComments(idea)" class="md-icon-button" aria-label="Comment">
              <i class="fa fa-comment" style="color: #333333; font-size: 20px;"aria-hidden="true"></i>
            </md-button>
            <md-button ng-click="hc.flagIdeaClick(idea)" class="md-icon-button" aria-label="Flag">
              <i class="fa fa-flag" style="color: #333333; font-size: 20px;"aria-hidden="true"></i>
            </md-button>
          </md-card-title>
          <md-card-content layout="row" layout-align="space-between">
            <md-content style="padding: 20px;height:300px;">
              <span>{{idea.description}}</span>
            </md-content>
          </md-card-content>
          <md-card-title>
            <div class="row">
              <div class="col-md-3">
                <img class="authImage" ng-src="{{idea.photo}}"></img>
              </div>
              <div class="col-md-9">
                <span class="md-subhead">{{idea.name}}</span>
                <span class="md-subhead">Ward {{idea.ward}}</span>
              </div>
            </div>
          </md-card-title>
          <ul style="margin-bottom: 0px !important;">
            <div ng-click="hc.addIdeaLike(idea.idea_id, idea.subtopics_id)" class="col-md-6 col-xs-6 actionBtn" style="border-right: 1px solid #eeeeee;">
              <li class="like">
                <span>{{idea.ideas_likes_count}}</span>
                <span ng-if="idea.ideas_likes_count == 1">LIKE</span>
                <span ng-if="idea.ideas_likes_count == 0 || idea.ideas_likes_count >= 2">LIKES</span>
              </li>
            </div>
            <div ng-click="hc.addIdeaLove(idea.idea_id, idea.subtopics_id)" class="col-md-6 col-xs-6 actionBtn">
              <li tooltips tooltip-template="Are you sure you love this? If you are, we'll keep you informed!" tooltip-size="large" class="love">
                <span>{{idea.ideas_loves_count}}</span>
                <span ng-if="idea.ideas_loves_count == 1">LOVE</span>
                <span ng-if="idea.ideas_loves_count == 0 || idea.ideas_loves_count >= 2">LOVES</span>
              </li>
            </div>
          </ul>
        </md-card>
      </div>
    </div>
  </div>
  <!--//CALL TO ACTION MOBILE/SMALL SCREEN//-->
  <div class="row mobileCTA visible-xs-block">
    <h2 class="dark"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Have an Idea? </h2>
    <button onclick="location.href='#!idea'" class = "btn-80" type="button" name="button"> START A CONVERSATION! </button>
    <!-- <button ng-click="hc.createIdea()" class = "btn-80" type="button" name="button">START A CONVERSATION!</button> -->
  </div>
  <!--//CALL TO ACTION MEDIUM AND LARGE SCREEN//-->
  <div class="cta-home row visible-md-block visible-lg-block visible-xl-block h-text-center">
    <div class="col-md-6 col-xs-12">
      <h3 class="light"> HAVE AN IDEA? </h3>
    </div>
    <div class="col-md-6 col-xs-12">

      <button ng-click="hc.createIdea()" type="button" class="btn-100" name="button"> START A CONVERSATION! </button>

    </div>
  </div>
</div>
