<div class="password_login_modal" ng-show="lc.loginModalShown" ng-controller="LoginController as lc">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Login</h4>
        </div>
        <div class="modal-body">
          <form>
            <p>
              Body
            </p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="lc.toggleModal()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="lc.passwordLogin()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
